* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

body {
  height: 420px;
}

.left-side {
  width: 50%;
  background-color: #455a64;
  height: 100%;
  display: inline-block;
  border: 1px solid blue;
}

.right-side {
  width: 50%;
  height: 100%;
  background-color: #cfd8dc;
  display: inline-block;
  border: 1px solid red;
  float: right;
}

.page-logo-container {
  display: inline-block;
  text-align: center;
  margin-top: 25%;
}

h1 {
  display: inline;
  color: #fff;
}

img {
  display: inline;
  width: 15%;
}

.website-input {
display: block;
width: 90%;
padding: 0% 5% 0% 5%;
margin: 5% auto;
font-family: 'Open Sans', sans-serif;
font-size: 50%;
}

#input-enter {
  background-color: #ffc107;
  color: #fff;
  margin-bottom: 20%;
  font-family: 'Open Sans', sans-serif;
  border: solid #ffc107;
}

#input-enter:hover {
  background-color: #ffd773;
  border: solid #ffd773;
}

.clear-fix {
  clear: both;
}