* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: 1fr;*/
  /*height: 1000px;*/
}

.left-side {
  /*width: 50%;*/
  padding-top: 20%;
  background-color: #455a64;
  /*grid-column: 1;*/
  /*height: 100%;*/
  /*display: inline-block;*/
  /*border: 1px solid blue;*/
}

.right-side {
  /*width: 50%;*/
  /*height: 100%;*/
  /*grid-column: 2;*/
  background-color: #cfd8dc;
  /*display: inline-block;*/
  /*border: 1px solid red;*/
  /*float: right;*/
  overflow: scroll;
}

.page-logo-container {
  text-align: center;
  margin: 0 auto;
  padding-top: 15%;
}

h1 {
  display: inline-block;
  color: #fff;
  font-size: 4em;
  /*margin-left: 30%;*/
  /*width: 400px;*/
}

img {
  display: inline;
  width: 80px;
}

.website-input {
display: block;
width: 75%;
padding: 0% 5% 0% 5%;
margin: 5% auto;
/*font-family: 'Open Sans', sans-serif;*/
font-size: 40px;
}

#input-enter {
  background-color: #ffc107;
  color: #fff;
  margin-bottom: 20%;
  /*font-family: 'Open Sans', sans-serif;*/
  border: solid #ffc107;
}

#input-enter:hover {
  background-color: #ffd773;
  border: solid #ffd773;
}

/*.clear-fix {
  clear: both;
}*/

article {
  border: 1px solid #607d8b;
  width: 90%;
  height: 150px;
  margin: 2% auto;
  padding: 10px 32px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-website-title {
  font-weight: 800;
  font-size: 25px;
  /*border-bottom: 1px solid #cfd8dc;*/
  color: #455a64;
  /*padding: 15px 0;*/
  /*margin-left: 2%;*/
}

.card-url-input {
  font-weight: 400;
  color: #607d8b;
  /*border-bottom: 1px solid #cfd8dc;*/
  text-decoration: underline #cfd8dc;
  font-size: 20px;
  /*padding: 15px 0;*/
  width: 95%;
  /*margin-left: 2%;*/
}

.card-url-input:hover {
  text-decoration: underline #ffc107;
}

hr {
  display: block;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
    border-width: 1px;
    color: #cfd8dc;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.card-read-button {
  color: #455a64;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
  /*margin-top: 20px;*/
  /*padding-top: 25px;*/
  height: 30px;
  text-decoration: underline #f2f4f4;
}

.card-delete-button {
  color: #455a64;
  font-weight: 400;
  font-size: 15px;
  /*margin-top: 20px;*/
  /*padding-top: 25px;*/
  height: 30px;
  text-decoration: underline #f2f4f4;
  padding: 0;
  background: none;
}

.card-read-button:hover {
  font-weight: 800;
  text-decoration: underline #ffc107;
}

.card-delete-button:hover {
  text-decoration: underline #ffc107;
}

.read {
  color: red;
  background: none;
}

/*.read:selected {
  border:  none;
}*/

.card-read {
  background-color: #f2f4f4;
}

button {
  border: transparent;
}

@media (max-width: 700px) {
  body {
    /*display: block;*/
    grid-template-columns: 1fr;
    /*grid-template-rows: 1fr 2fr; */
    /*height: 100;*/

  }
  .left-side {
    /*grid-row: 1 / span 2;*/
    /*width: 100%;*/
  }
  .right-side {
    /*grid-row: 1 / span 2;*/
    /*width: 100%;*/  grid-column: 1;

  }

}
}
